html {
  font-size: 61%;
}
body {
  font-family: 'Playfair Display', serif;
  font-size: 14.5px;
  fill: #b9b9b9;
  color: #555356;
  margin: 0px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0px;
  position: relative;
}

#metLogo {
  height: 5rem;
}
#header-verb {
  position: absolute;
  bottom: 0px;
}
#body-copy {
  text-align: center;
  margin-bottom: 0px;
}

#count {
  text-align: center;
  color: #cd5c5c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

#verb-info {
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: 12.5px;
}

#definition {
  font-family: 'Open Sans', sans-serif;
}

#definition span {
  font-weight: 900;
}

#definition p {
  width: 200px;
  margin: auto;
}
#chart {
  text-align: center;
}
.string-wrapper {
  isolation: isolate;
}
.string {
  mix-blend-mode: multiply;
}

.inner-label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
  fill: #cd5c5c;
  cursor: default;
  text-anchor: middle;
}
.outer-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  fill: #5f5f5f;
  cursor: default;
}
.outer-label-value {
  font-size: 1.3rem;
  fill: #acacac;
}

#images {
  margin-top: 1rem;
  background-color: #535656;
  max-height: 588px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#images .imageContainer {
  margin: 10px;
  height: 127px;
}

#images .image {
  max-height: 100%;
}
