html {
  font-size: 61%;
}
body {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  fill: #b9b9b9;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
header {
  position: relative;
}
#header-verb {
  position: absolute;
}
#body-copy {
  text-align: center;
}

#count {
  text-align: center;
  color: #cd5c5c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

#verb-info {
  position: absolute;
  width: 100%;
}

#definition {
  font-family: 'Open Sans', sans-serif;
}

#definition span {
  font-weight: 900;
}

#definition p {
  width: 200px;
  margin: auto;
}
#chart {
  text-align: center;
}
.string-wrapper {
  isolation: isolate;
}
.string {
  mix-blend-mode: multiply;
}

.inner-label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
  fill: #cd5c5c;
  cursor: default;
  text-anchor: middle;
}
.outer-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  fill: #5f5f5f;
  cursor: default;
}
.outer-label-value {
  font-size: 1.3rem;
  fill: #b9b9b9;
}
#images {
  display: flex;
  flex-wrap: wrap;
}

#images .imageContainer {
  display: flex;
  margin: 1rem;
}

#images .imageContainer img {
  height: 75px;
}
